
body{
    font-family: 'HelveticaNeue' !important;
}
/* ===============================  font size  =============================== */

#show-bg {
    position: relative;
	border-bottom: 1px solid #F5F5F5;
	background-image: url('../images/logo/bg_item03.png');
	background-repeat: no-repeat;
	background-position: center center;
	/* background-attachment: fixed; */
	/* -o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto; */
}

@media only screen and (min-width: 768px) {

	#show-bg {
		position: relative;
		border-bottom: 1px solid #F5F5F5;
		background-image: url('../images/logo/bg_item02.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: unset;
		background-size: 100% 100%, auto;
	}

}

/* ===============================  color =============================== */
.border-color-blue{
	height: 2px;
	background: #4ED1DA !important;
}
.color-blue{
	color: #4ED1DA !important;
}
.color-black{
	color: #000 !important;
}
.bg-dark{
	background: #000 !important;
	color: #FFF !important;
}
.portfolio-filter li.activeFilter a {
	background-color: #4ED1DA !important;
}
.portfolio-filter li.activeFilter a:hover {
	color: #FFF !important;
}
.portfolio-filter li a:hover {
    color: #4ED1DA !important;
}
/* ===============================  other =============================== */
.text-right{
	text-align: right !important;
}
.entry-grid{
	display: grid;
	grid-template-columns: auto;
}
.border-bottom-black{
	border-bottom:  1px solid rgb(180, 175, 175);
}
.border-gallery-show{
	border: 1px solid #dddddd;
	padding: 5px;
}
.grid-gallery{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}
@media only screen and (min-width: 576px) {
	.grid-gallery{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}
}
@media only screen and (min-width: 768px) {
	.entry-grid{
		display: grid;
		grid-template-columns: auto auto;
	}
}
@media only screen and (min-width: 992px) {
	.grid-gallery{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 10px;
	}
}
@media only screen and (min-width: 1200px) {
	.grid-gallery{
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		grid-gap: 10px;
	}
}

/* ===============================  head bar =============================== */
.grid-one-page{
	display: grid;
	grid-template-columns: auto;
}
.grid-one-page-head{
	display: grid;
	grid-template-columns: auto;
}
.display-grid-two-head-bar{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}
.display-grid-three-head-bar{
	display: grid;
	grid-template-columns: auto;
}

.font-size-head-tpb{
    font-family: 'HelveticaNeueBold';
	font-size: 30px;
	font-weight: 1200px;
	font-weight: bold;
}
.font-size-subhead-tpb{
    font-family: 'HelveticaNeueBold';
	font-size: 16px;
	font-weight: bold;
	width: 300px;
}
.font-size-subhead-time{
    font-family: 'HelveticaNeueBold';
	font-size: 16px;
	font-weight: bold;
}
.font-size-subhead-event{
    font-family: 'HelveticaNeueBold';
	font-size: 16px;
	font-weight: bold;
}

#header {
    background-color: transparent;
}

.border-1px-head{
	border: 1px solid #e4e3e3;
}

.border-1px-headLeft{
	border-left: 1px solid #e4e3e3;
}

#logo img {
	height: 120px;
}
/* Visitor Registration & Online Exhibitor Manual */
.img-size-headbar{
	width: 80px;
}

@media only screen and (min-width: 768px) {
	.display-grid-two-head-bar{
		display: grid;
		grid-template-columns: auto auto ;
	}
	.display-grid-three-head-bar{
		display: grid;
		grid-template-columns: 220px auto 220px;
	}
	#logo{
		text-align: left;
	}
	.font-size-head-tpb{
		font-size: 30px;
		font-weight: 1200px;
		font-weight: bold;
	}
	.font-size-subhead-tpb{
		font-size: 16px;
		font-weight: bold;
		width: 300px;
	}
	
	.widthLogoRegis{
		width: 100px;
	}
	.img-size-headbar{
		width: 60px;
	}
	#logo img {
		height: auto !important;
	}
	.font-headber-Visitor, .font-headber-Exhibitor{
		font-size: 12px;
	}
	

}
@media only screen and (min-width: 992px) {
	.display-grid-two-head-bar{
		display: grid;
		grid-template-columns: auto auto;
	}
	.display-grid-three-head-bar{
		display: grid;
		grid-template-columns: 280px auto 280px;
	}
	#logo{
		text-align: left;
	}
	.font-size-head-tpb{
		font-size: 40px;
		font-weight: 1200px;
		font-weight: bold;
	}
	.font-size-subhead-tpb{
		font-size: 22px;
		font-weight: bold;
		width: 400px;
	}
	.font-size-subhead-time{
		font-size: 22px;
		font-weight: bold;
	}
	.font-size-subhead-event{
		font-size: 22px;
		font-weight: bold;
	}
	#header #header-wrap{
		display: unset;
	}
	.widthLogoRegis{
		width: 120px;
	}
	.img-size-headbar{
		width: 100px;
	}
	
	.font-headber-Visitor, .font-headber-Exhibitor{
		font-size: 14px;
	}

}

@media only screen and (min-width: 1200px) {
	
	.display-grid-two-head-bar{
		display: grid;
		grid-template-columns: auto auto;
	}
	.display-grid-three-head-bar{
		display: grid;
		grid-template-columns: 350px auto 350px;
	}

	.font-size-head-tpb{
		font-size: 60px;
		font-weight: 1200px;
		font-weight: bold;
	}
	.font-size-subhead-tpb{
		font-size: 24px;
		font-weight: bold;
		width: 500px;
	}
	.font-size-subhead-time{
		font-size: 22px;
		font-weight: bold;
	}
	.font-size-subhead-event{
		font-size: 22px;
		font-weight: bold;
	}
	#header #header-wrap{
		display: unset;
	}
	#logo img {
		height: 160px;
	}
	/* Visitor Registration & Online Exhibitor Manual */
	.img-size-headbar{
		width: 120px;
	}
	.font-headber-Visitor, .font-headber-Exhibitor{
		font-size: 16px;
	}
	#logo{
		margin-right: 0px;
	}
	.widthLogoRegis{
		width: 140px;
	}
	

}
/* ===============================  navbar =============================== */

#primary-menu ul li.current > a {
    color: #bdc3c7;
}
#primary-menu ul li > a {
    color: #FFF;
}
#primary-menu ul li > a:hover {
    color: #ecf0f1;
}
#header.sticky-style-2 {
	height: 304px !important;
}
#header.sticky-style-2 #header-wrap{
	background: #000 !important;
}

#header.sticky-style-2 {
	height: 460px !important;
}
#primary-menu-trigger {
	top: 5px;
}

@media only screen and (min-width: 576px) {
	#header.sticky-style-2 {
		height: 460px !important;
	}
	#primary-menu-trigger {
		top: 5px;
	}
}
@media only screen and (min-width: 768px) {
	#header.sticky-style-2 {
		height: 200px !important;
	}
}
@media only screen and (min-width: 992px) {
	#header.sticky-style-2 {
		/* height: 184px !important; */
		height: 310px !important;
	}

}
@media only screen and (min-width: 1188px) {
	#header.sticky-style-2 {
		/* height: 184px !important; */
		height: 250px !important;
	}

}
@media only screen and (min-width: 1200px) {
	#header.sticky-style-2 {
		/* height: 184px !important; */
		height: 290px !important;
	}

}

/* ===============================  menu left =============================== */
.border-color-menuLeft{
	border: 1px solid #ecf0f1;
}
.widget > h4 {
    margin-bottom: 15px !important;
}
.margin-Top-wedget{
    margin-top: 30px !important;
}
/* ===============================  footer =============================== */
#copyrights {
	padding: 20px 0 !important;
}
#footer .footer-widgets-wrap {
    position: relative;
    padding: 40px 0 !important;
}
@media only screen and (min-width: 768px) {
	.grid-footer-two{
		display: grid;
		grid-template-columns: auto ;
		grid-gap: 40px;
	}
	.grid-footer-two-detail{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 30px;
	}
	.max-width-footer{
		max-width: 500px;
	}
	.margin-top-footer-img{
		margin-top: 15px;
		text-align: center;
	}
}
@media only screen and (min-width: 992px) {
	.grid-footer-two{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 40px;
	}
	.grid-footer-two-detail{
		display: grid;
		grid-template-columns: auto 33%;
		grid-gap: 30px;
	}
	.max-width-footer{
		max-width: 350px;
	}
	.margin-top-footer-img{
		margin-top: 15px;
		text-align: left;
	}
}
