
body{
    font-family: 'HelveticaNeue' !important;
}
/* ===============================  font size  =============================== */

.font-size-head-tpb{
	font-size: 34px;
	font-weight: 800px;
	font-weight: bold;
}
.font-size-subhead-tpb{
	font-size: 16px;
	font-weight: bold;
}

/* ===============================  color =============================== */
.border-color-blue{
	height: 2px;
	background: #4ED1DA !important;
}
.color-blue{
	color: #4ED1DA !important;
}
.color-black{
	color: #000 !important;
}
.bg-dark{
	background: #000 !important;
	color: #FFF !important;
}
/* ===============================  other =============================== */
.text-right{
	text-align: right !important;
}

/* ===============================  head bar =============================== */
.grid-one-page{
	display: grid;
	grid-template-columns: auto;
}
.grid-one-page-head{
	display: grid;
	grid-template-columns: auto;
}
.display-grid-two-head-bar{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}
.display-grid-three-head-bar{
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
}
@media only screen and (min-width: 992px) {
	.display-grid-two-head-bar{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}
	.display-grid-three-head-bar{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}
	#logo{
		text-align: left;
	}

}
/* ===============================  navbar =============================== */
#header.sticky-style-2 {
    height: 184px !important;
}
#primary-menu ul li.current > a {
    color: #bdc3c7;
}
#primary-menu ul li > a {
    color: #FFF;
}
#primary-menu ul li > a:hover {
    color: #ecf0f1;
}
/* ===============================  menu left =============================== */
.border-color-menuLeft{
	border: 1px solid #ecf0f1;
}
.widget > h4 {
    margin-bottom: 15px !important;
}
.margin-Top-wedget{
    margin-top: 30px !important;
}
/* ===============================  footer =============================== */
#copyrights {
	padding: 20px 0 !important;
}
#footer .footer-widgets-wrap {
    position: relative;
    padding: 40px 0 !important;
}
@media only screen and (min-width: 768px) {
	.grid-footer-two{
		display: grid;
		grid-template-columns: auto ;
		grid-gap: 40px;
	}
	.grid-footer-two-detail{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 30px;
	}
	.max-width-footer{
		max-width: 500px;
	}
	.margin-top-footer-img{
		margin-top: 15px;
		text-align: center;
	}
}
@media only screen and (min-width: 992px) {
	.grid-footer-two{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 40px;
	}
	.grid-footer-two-detail{
		display: grid;
		grid-template-columns: auto 33%;
		grid-gap: 30px;
	}
	.max-width-footer{
		max-width: 350px;
	}
	.margin-top-footer-img{
		margin-top: 15px;
		text-align: left;
	}
}
